.main{
    height: 100vh;
}

.box{
    width: 400px;
    height: 400px;
    background-color: rgb(181, 4, 37);
}

.mini-box{
    height: 80px;
    width : 80px;
    background-color: #fff;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
}